@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

:root{
	--primary-color:#7D84EC;
}

body{
	font-family: 'Dancing Script', cursive;
	margin: 0;
}

#main{
	max-width: 600px;
	margin: auto;
}

nav{
	background-color: var(--primary-color);
	text-align: center;
	height: 50px;
	margin-bottom:20px;
	border-bottom-left-radius: 20px;
}

#nav-heading{
	padding-top: 6px;
	font-size: 2rem;
}

#input-area{
	box-sizing: border-box;
	display: block;
	margin-top: 2rem;
	min-height: 20vh;
	font-family: inherit;
	font-size: large;
	width: 100%;
}

#btn-translate{
	background-color: var(--primary-color);
	border: none;
	padding:1rem 2rem;
	margin:1rem 0;
	font-family: inherit;
	font-size: 1.2rem;
}

#output-area{
	border: 1px solid black;
	overflow: scroll;
	height: 10vh;
	width: 100%;
	font-family:inherit ;
}

footer{
	border-top-right-radius: 20px;
	box-sizing: border-box;
	position: fixed;
	bottom: 0;
	background-color: var(--primary-color);
	padding: 2rem 0;
}

#footer-heading{
	text-align: center;
	font-size: x-large;
}